@import "tailwindcss";

@theme {
    --color-classicDarkBg: #1A1A1B;
    --color-classicDark: #fff;
    --color-softLightBg: #f8f9fa;
    --color-softLight: #212529;
    --color-deepNavyBg: #001f3f;
    --color-deepNavy: #ffd700;
}

body {
    background-color: var(--color-classicDarkBg);
    color: var(--color-classicDark);
    padding: 20px;
}